name: Experimental release publisher
on:
  pull_request:
    types: [labeled]
  push:
    branches:
    - experimental
env:
  GO111MODULE: on
jobs:
  stub:
    name: Greeting
    runs-on: ubuntu-latest
    steps:
    - name: Greeting
      run: echo "This job is used to prevent the workflow to fail when all other jobs are skipped."
  unlabel:
    name: Unlabel
    runs-on: ubuntu-latest
    if: github.event_name == 'pull_request' && github.event.label.name == 'release experimental'
    steps:
    - uses: actions/github-script@0.3.0
      with:
        github-token: ${{secrets.GITHUB_TOKEN}}
        script: |
          github.issues.removeLabel({...context.issue, name: '${{github.event.label.name}}'})

  publish_release:
    name: Publish multiwerf experimental release
    runs-on: ubuntu-latest
    if: github.event_name == 'push' || (github.event_name == 'pull_request' && github.event.label.name == 'release experimental')
    steps:
    - name: Set up Go 1.13
      uses: actions/setup-go@v1
      with:
        go-version: 1.13
      id: go
    - name: Checkout code
      uses: actions/checkout@v1
    - name: Publish
      run: |
        echo DISABLED ./scripts/publish_experimental_release.sh
      shell: bash
      env:
        PUBLISH_BINTRAY_AUTH: ${{ secrets.PUBLISH_BINTRAY_AUTH }}
        PUBLISH_GITHUB_TOKEN: ${{ secrets.PUBLISH_GITHUB_TOKEN }}
